.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.search.found {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  top: 15% !important;
}


.circle {
  width: 100px;
  height: 100px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  margin-top:45px;
  left: 50%;
  transform: translate(-50%, -50%);
  }


 .star {
       text-align: center;
    display: inline;
  margin-top: -30px;
    height: 150%;
    width: auto;
      opacity: 1;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
    
}
.poster{
  position: relative;
  //top: 50%;
  //left: 50%;
  height: 200px;
  width: auto;
  vertical-align:middle;
  //display:inline-block;
    opacity: 1;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}

.gradient {
      position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
  background:url(../HowOldWhen/projector.jpeg), linear-gradient( to top left,rgb(13,61,92) 25%,rgb(22,21,23) 45%,rgb(22,21,23)60%,rgb(255, 186, 0) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;

}

body {
color:white;
font-family:'Open Sans',sans-serif;
font-size:14px;
font-weight:400;
line-height:20px;
height:100%;
min-height:500px;
margin:0;
padding:0;
background:black;
background-position:center center;
background-repeat: no-repeat;
background-size: cover;
}

.nameAge {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.gridRow {
  width: 210px;
  display: inline-block;
  text-align: center;
}

.results {
  margin-top:220px;
  width:660px;
  height:500px;
  left:50%;
  position:relative;
  transform:translate(-50%, 0%);
  overflow-y: auto;
  background-color: rgba(0,0,0,.7);
  box-shadow: 10px 0px 60px rgba(0,0,0,.6);
}

.results::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}

table {
    //margin-top:160px;
    color:white;
    font-family:'Open Sans',sans-serif;
    font-size:14px;
    font-weight:400;
    border-collapse: collapse;
    width:50px;
    margin: auto;
    vertical-align:middle
}

td, th {
    border: 1px solid #FFAE00;
    text-align: center;
vertical-align:middle
}

tr:nth-child(even) {
    background-color: rgba(43,29,76,.6);
    text-align: center;
vertical-align:middle
}
tr:nth-child(odd) {
    background-color: rgba(245,38,150,.6);
    text-align: center;
vertical-align:middle
}

  
 input[type="text"] {
  padding: 10px;
  border: solid 5px #FFAE00;
  transition: border 0.3s;
  background-color: #19191b
  font-family:'Open Sans',sans-serif;font-size:14px;font-weight:400;
  color: grey;
}
.style-2 input[type="text"]:focus,
.style-2 input[type="text"].focus {
  border: solid 5px #FFAE00;
}

.go {

border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Open Sans',sans-serif;font-size:14px;font-weight:400;
    margin: 4px 2px;
    width: 40px;
    height: 47px;
    border-radius: 4px;
    background-color: #0DA1C0;
}
.nameAge {
margin-top:80px;
margin-left:30px;
  width: 100%;
    position: fixed;
  top: 50%;
  left: 50%;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.span {
position:   fixed;
margin-top: 20px;
margin-left: 5px;
color: white;

}