.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.search.found {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  top: 15% !important;
}


.circle {
  width: 100px;
  height: 100px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  margin-top:45px;
  left: 50%;
  transform: translate(-50%, -50%);
  }


 .star {
       text-align: center;
    display: inline;
  margin-top: -30px;
    height: 150%;
    width: auto;
      opacity: 1;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
    
}
.poster{
  position: relative;
  //top: 50%;
  //left: 50%;
  height: 200px;
  width: auto;
  vertical-align:middle;
  //display:inline-block;
    opacity: 1;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}

.gradient {
      position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
  background:url(../HowOldWhen/projector.jpeg), linear-gradient( to top left,rgb(13,61,92) 25%,rgb(22,21,23) 45%,rgb(22,21,23)60%,rgb(255, 186, 0) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;

}

body {
color:white;
font-family:'Open Sans',sans-serif;
font-size:14px;
font-weight:400;
line-height:20px;
height:100%;
min-height:500px;
margin:0;
padding:0;
background:black;
background-position:center center;
background-repeat: no-repeat;
background-size: cover;
}

.nameAge {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.gridRow {
  width: 210px;
  display: inline-block;
  text-align: center;
}

.results {
  margin-top:220px;
  width:660px;
  height:500px;
  left:50%;
  position:relative;
  transform:translate(-50%, 0%);
  overflow-y: auto;
  background-color: rgba(0,0,0,.7);
  box-shadow: 10px 0px 60px rgba(0,0,0,.6);
}

.results::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}

table {
    //margin-top:160px;
    color:white;
    font-family:'Open Sans',sans-serif;
    font-size:14px;
    font-weight:400;
    border-collapse: collapse;
    width:50px;
    margin: auto;
    vertical-align:middle
}

td, th {
    border: 1px solid #FFAE00;
    text-align: center;
vertical-align:middle
}

tr:nth-child(even) {
    background-color: rgba(43,29,76,.6);
    text-align: center;
vertical-align:middle
}
tr:nth-child(odd) {
    background-color: rgba(245,38,150,.6);
    text-align: center;
vertical-align:middle
}

  
 input[type="text"] {
  padding: 10px;
  border: solid 5px #FFAE00;
  transition: border 0.3s;
  background-color: #19191b
  font-family:'Open Sans',sans-serif;font-size:14px;font-weight:400;
  color: grey;
}
.style-2 input[type="text"]:focus,
.style-2 input[type="text"].focus {
  border: solid 5px #FFAE00;
}

.go {

border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Open Sans',sans-serif;font-size:14px;font-weight:400;
    margin: 4px 2px;
    width: 40px;
    height: 47px;
    border-radius: 4px;
    background-color: #0DA1C0;
}
.nameAge {
margin-top:80px;
margin-left:30px;
  width: 100%;
    position: fixed;
  top: 50%;
  left: 50%;
}
INPUT.toggle-navigation-x {
    display: none;
}

INPUT.toggle-navigation-x + LABEL {
    position: fixed;
    top: 20px;
    left: 20px;
    right: auto;
    bottom: auto;
    height: 60px;
    width: 60px;
    cursor: pointer;
    z-index: 999;
    display: none;
}

@media (max-width: 768px) {
    INPUT.toggle-navigation-x + LABEL {
        display: block;
    }
}

INPUT.toggle-navigation-x + LABEL SPAN,
INPUT.toggle-navigation-x + LABEL:before,
INPUT.toggle-navigation-x + LABEL:after {
    content: "";
    position: absolute;
    top: 0;
    left: 25%;
    right: 25%;
    bottom: 0;
    transition: all 200ms;
    transform-origin: 0 0 0;
    display: block;
    border-top: 2px solid #000;
    width: auto;
    height: 0;
    margin: auto 0;
}

INPUT.toggle-navigation-x + LABEL:before {
    top: 25%;
    bottom: auto;
}

INPUT.toggle-navigation-x + LABEL:after {
    top: auto;
    bottom: 25%;
}

INPUT.toggle-navigation-x:checked + LABEL SPAN {
    opacity: 0;
}

INPUT.toggle-navigation-x:checked + LABEL:before,
INPUT.toggle-navigation-x:checked + LABEL:after {
    width: 66.6667%;
}

INPUT.toggle-navigation-x:checked + LABEL:before {
    transform: rotate(45deg);
}

INPUT.toggle-navigation-x:checked + LABEL:after {
    transform: rotate(-45deg);
}

INPUT.toggle-navigation-x ~ * {
    transition: transform 300ms;
}

INPUT.toggle-navigation-x:checked ~ * {
    transform: translatex(240px) !important;
}

@media (max-width: 768px) {
    NAV {
        background: silver;
        box-shadow: inset -10px 0 10px rgba(0,0,0,0.2);
        position: fixed;
        top: 0;
        bottom: 0;
        width: 240px;
        left: -240px;
        height: 100%;
    }
}