.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search.found {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  top: 15% !important;
}
.circle {
  width: 100px;
  height: 100px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  margin-top:45px;
  left: 50%;
  transform: translate(-50%, -50%);
  }
 .star {
       text-align: center;
    display: inline;
  margin-top: -30px;
    height: 150%;
    width: auto;
      opacity: 1;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
    
}
.poster{
  position: relative;
  //top: 50%;
  //left: 50%;
  height: 200px;
  width: auto;
  vertical-align:middle;
  //display:inline-block;
    opacity: 1;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
}
body{
color:white;
font-family:'Open Sans',sans-serif;
font-size:14px;
font-weight:400;
line-height:20px;
height:100%;
min-height:500px;
margin:0;
padding:0;
background:
    linear-gradient(
      to top left, 
      #0DA1C0, #161517,#161517, #FFBA00
      );
background-position:center center;
background-repeat: no-repeat;
}

.nameAge {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.gridRow {
  width: 500px;
  float: left; 
  height: 300px;

}

.results {
  margin-top:220px;
}

table {
    //margin-top:160px;
    color:white;
    font-family:'Open Sans',sans-serif;
    font-size:14px;
    font-weight:400;
    border-collapse: collapse;
    width:50px;
    margin: auto;
    vertical-align:middle
}

td, th {
    border: 1px solid #FFAE00;
    text-align: center;
vertical-align:middle
}

tr:nth-child(even) {
    background-color: rgba(43,29,76,.6);
    text-align: center;
vertical-align:middle
}
tr:nth-child(odd) {
    background-color: rgba(245,38,150,.6);
    text-align: center;
vertical-align:middle
}

  
 input[type="text"] {
  padding: 10px;
  border: solid 5px #FFAE00;
  transition: border 0.3s;
  background-color: #19191b
  font-family:'Open Sans',sans-serif;font-size:14px;font-weight:400;
  color: grey;
}
.style-2 input[type="text"]:focus,
.style-2 input[type="text"].focus {
  border: solid 5px #FFAE00;
}

.go {

border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Open Sans',sans-serif;font-size:14px;font-weight:400;
    margin: 4px 2px;
    width: 40px;
    height: 47px;
    border-radius: 4px;
    background-color: #0DA1C0;
}
.nameAge {
margin-top:80px;
margin-left:30px;
  width: 100%;
    position: fixed;
  top: 50%;
  left: 50%;
}