.search {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search.searched {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  top: 30% !important;
}
body{
color:white;
font-family:'Open Sans',sans-serif;
font-size:14px;
font-weight:400;
line-height:20px;
height:100%;
min-height:500px;
margin:0;
padding:0;
background:
    linear-gradient(
      to top left, 
      #0DA1C0, #161517,#161517, #FFBA00
      );
background-position:center center;
background-repeat: no-repeat;
}

table {
    color:white;
    font-family:'Open Sans',sans-serif;
    font-size:14px;
    font-weight:400;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

td, th {
    border: 1px solid #FFAE00;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(43,29,76,.6);
}
tr:nth-child(odd) {
    background-color: rgba(245,38,150,.6);
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(http://www.diaglobal.org/_Images/member/Generic_Image_Missing-Profile.jpg) no-repeat;
      background-position:50% 50%;
    background-size:100%;
        margin: auto;
  }
  
 input[type="text"] {
  padding: 10px;
  border: solid 5px #FFAE00;
  transition: border 0.3s;
  background-color: #19191b
  font-family:'Open Sans',sans-serif;font-size:14px;font-weight:400;
  color: grey;
}
.style-2 input[type="text"]:focus,
.style-2 input[type="text"].focus {
  border: solid 5px #FFAE00;
}

.go {

border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Open Sans',sans-serif;font-size:14px;font-weight:400;
    margin: 4px 2px;
    width: 40px;
    height: 47px;
    border-radius: 4px;
    background-color: #0DA1C0;
}